h1 {
    display: flex;
    justify-content: center;
    font-size: 54px;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: wavy;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 0px 0px 15px rgb(200,50,100);
    margin: 1%;
  }

h2 {
    font-size: 36px;
    margin: 1%;
    margin-top: 0%;
  }

h3 {
  font-size: 18px;
  margin: 1%;
}

.blog__post {
    margin: 0 5% 2% 0;
    padding: 5px 1%;
    background-color: rgb(245, 230, 245);
    border: solid;
    border-radius: 7px;
    border-color: black;
    border-width: 2px;
    width:100%;
}

.post__entry {
  margin: 1%;
  display: inline-block;
  vertical-align: top;
  float: left;
  max-width: 65%;
}

body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.post__image {
   min-width: 10%;
    max-width:30%;
    border-radius: 2%;
    float:right;
    margin:1% 0.5%;
    max-height: 10%;
  }

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.ad {
  width: 100%;
  float: right;
  margin-bottom: 10px;
  margin-top: 5px;
}

#blog__content {
  display: block;
  float: left;
  width: 75.5%;
  margin: 5px 15px 0 0; /*top right bottom left*/
}

#blog__side {
  float: right;
  width: 20%;
  justify-content: center;
  margin: 5px 0 0 2%; /*top right bottom left (left uses a percentage here because i think it looks better as the screen size scales)*/
}

#blog {
  display: flex;
  justify-content: center;
}

ul {
  clear:both;
  max-width: 65%;
}
